#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 8px 0;
  box-shadow: 1px 6px 5px -4px rgba(64, 64, 64, 0.2);
  background: #f6f5ef;
  .inner {
    display: flex;
    align-items: center;
    padding: 0 50px;
    margin: auto;
    h1 {
      width: 80px;
      a {
        display: block;
        img {
          width: 100%;
        }
      }
    }
    #nav {
      margin-left: auto;
      .gnb {
        display: flex;
        align-items: center;
        li {
          margin-left: 80px;
          a {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #header {
    .inner {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
}
