.entertainment {
  .enter-issue {
    grid-template-rows: 50%  300px;

    &:nth-child(1) {

    }
  }
}

.album {
  .album-box {
    width: 100%;

    .album-list {
      display: flex;
      align-items: center;
      justify-content: center;
      .album-item {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        transform-origin: center center center;
        &:hover, &:focus {
          animation: spinning 2s infinite;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

.artist {

}

.news {

}

.audition {

}
