#app {
  overflow: hidden;
}
/*header*/
#header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-content: center;
  width: 100%;
  z-index: 200;
  .layout-inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 20px 50px;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.577468487394958) 100%
    );
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    img {
      width: 100%;
    }
  }
  &.bg-header {
    .nav .gnb .menu a {
      color: #1a1a1a;
    }
  }
}

.nav {
  display: flex;
  margin: auto;
  .gnb {
    display: flex;
    align-content: center;
    justify-content: center;
    .menu {
      flex: 1;
      margin: 0 16px;
      a {
        position: relative;
        display: block;
        font-size: 20px;
        color: #ffffff;
        text-shadow: 1px 1px 11px rgba(150, 150, 150, 1);
        &:after {
        }
      }
      &:hover {
        a {
          &:after {
          }
        }
      }
    }
  }
}

/*visual*/
#visual {
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 0;
  .visual-list {
    position: relative;
    width: 100%;
    height: 100%;
    .visual-item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: #ffffff;
      h2 {
        position: absolute;
        bottom: 100px;
        font-size: 26px;
        font-weight: 900;
        text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
      }
    }
  }
}

.blurred-image-container {
  display: block;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70vh;
  z-index: -1;
  .img {
    position: absolute;
    // background: url(https://jthcast.dev/static/65c2d70a1712a6b21d173bf942cfa18b/35c24/is-css-in-js-the-best.png)
    //   center center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    top: -10%;
    bottom: 10%;
    left: -10%;
    right: 10%;
    width: 120%;
    height: 120%;
    &.main {
      background: url(http://res.heraldm.com/content/image/2021/04/29/20210429000999_0.jpg)
        center center;
    }
    &.company {
      background: url(https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile21.uf.tistory.com%2Fimage%2F99A060365C866F593317D8)
        center center;
    }
    &.audition {
      background: url(https://jyp-cdn.azureedge.net/img/f3eac57984374684accdc415c31143a2-cn_c_1920.jpg)
        center center;
    }
  }
}

.blurred {
  opacity: 0;
  -webkit-filter: blur(20px) brightness(0.7);
  -ms-filter: blur(20px) brightness(0.7);
  -o-filter: blur(20px) brightness(0.7);
  filter: blur(20px) brightness(0.7);
  background-repeat: no-repeat;
  background-size: cover;
}

#visual {
  .paging {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);

    a {
      display: block;
      width: 10px;
      height: 10px;
      background: #1a1a1a;
      borde-radius: 50%;
    }
  }
}

main {
  background: #ffffff;
}

#footer {
  width: 100%;
  background: #eeeeee;
  .inner {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 20px 50px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    padding-right: 50px;
    img {
      width: 100%;
    }
  }
}

/*body*/
.common-area {
  position: relative;
  width: 100%;
  height: 100%;
}

.inner {
  padding: 80px 50px;
}

.flex-box {
  display: flex;
  align-content: center;
  justify-content: center;
  .flex-item {
    flex: 1;
    width: 50%;
  }
}

.grid-box {
  display: grid;
  grid-gap: 12px;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(2, 1fr);
  width: 1400px;
  height: 600px;
  margin: auto;
  grid-template-rows: 50%;
  > div {
    overflow: hidden;
    height: 300px;
  }
  .grid-item {
    position: relative;
    height: 100%;
    filter: grayscale(100%);
    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: auto;
    }
    h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      line-height: 22px;
      width: calc(100% - 40px);
      height: 0;
      opacity: 0;
      color: #ffffff;
      padding: 20px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.51) 100%
      );
      transition: all 0.6s linear;
    }
    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
    &:hover {
      filter: grayscale(0);
      &::before {
        -webkit-animation: shine 0.75s;
        animation: shine 0.75s;
      }
      h2 {
        height: auto;
        opacity: 1;
      }
    }
  }
}

/*swiper*/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.swiper-pagination-bullet {
  background: rebeccapurple;
}

// modal
.dim-layer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .inner {
    padding: 10px;
    background: #ffffff;
    .modal-close {
      @include flexCenter;
      position: relative;
      right: 20px;
      width: 30px;
      height: 30px;
      margin-left: auto;
      i {
        position: absolute;
        right: 0;
      }
    }
    .modal-box {
      flex-direction: column;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      max-height: 60vh;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-family: "Raleway";
      h2 {
        font-size: 18px;
      }
      .payment-title {
        width: 100%;
        text-align: center;
      }
      .form-container .field-container:first-of-type {
        grid-area: name;
      }
      .form-container .field-container:nth-of-type(2) {
        grid-area: number;
      }
      .form-container .field-container:nth-of-type(3) {
        grid-area: expiration;
      }
      .form-container .field-container:nth-of-type(4) {
        grid-area: security;
      }
      .field-container input {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      .field-container {
        position: relative;
      }
      .form-container {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: auto auto;
        grid-template-rows: 90px 90px 90px;
        grid-template-areas: "name name" "number number" "expiration security";
        max-width: 400px;
        padding: 20px;
        color: #707070;
      }
      label {
        padding-bottom: 5px;
        font-size: 13px;
      }
      input {
        margin-top: 3px;
        padding: 15px;
        font-size: 16px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid #dcdcdc;
      }
      .ccicon {
        height: 38px;
        position: absolute;
        right: 6px;
        top: calc(50% - 17px);
        width: 60px;
      }
      /* CREDIT CARD IMAGE STYLING */
      .preload * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
      }
      .container {
        display: flex;
        width: 100%;
        max-width: 400px;
        max-height: 251px;
        height: 54vw;
        padding: 20px;
      }
      #ccsingle {
        position: absolute;
        right: 15px;
        top: 20px;
      }
      #ccsingle svg {
        width: 100px;
        max-height: 60px;
      }
      .creditcard svg#cardfront,
      .creditcard svg#cardback {
        width: 100%;
        -webkit-box-shadow: 1px 5px 6px 0px black;
        box-shadow: 1px 5px 6px 0px black;
        border-radius: 22px;
      }
      #generatecard {
        cursor: pointer;
        float: right;
        font-size: 12px;
        color: #fff;
        padding: 2px 4px;
        background-color: #909090;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }
      /* CHANGEABLE CARD ELEMENTS */
      .creditcard .lightcolor,
      .creditcard .darkcolor {
        -webkit-transition: fill 0.5s;
        transition: fill 0.5s;
      }
      .creditcard .lightblue {
        fill: #03a9f4;
      }
      .creditcard .lightbluedark {
        fill: #0288d1;
      }
      .creditcard .red {
        fill: #ef5350;
      }
      .creditcard .reddark {
        fill: #d32f2f;
      }
      .creditcard .purple {
        fill: #ab47bc;
      }
      .creditcard .purpledark {
        fill: #7b1fa2;
      }
      .creditcard .cyan {
        fill: #26c6da;
      }
      .creditcard .cyandark {
        fill: #0097a7;
      }
      .creditcard .green {
        fill: #66bb6a;
      }
      .creditcard .greendark {
        fill: #388e3c;
      }
      .creditcard .lime {
        fill: #d4e157;
      }
      .creditcard .limedark {
        fill: #afb42b;
      }
      .creditcard .yellow {
        fill: #ffeb3b;
      }
      .creditcard .yellowdark {
        fill: #f9a825;
      }
      .creditcard .orange {
        fill: #ff9800;
      }
      .creditcard .orangedark {
        fill: #ef6c00;
      }
      .creditcard .grey {
        fill: #bdbdbd;
      }
      .creditcard .greydark {
        fill: #616161;
      }
      /* FRONT OF CARD */
      #svgname {
        text-transform: uppercase;
      }
      #cardfront .st2 {
        fill: #ffffff;
      }
      #cardfront .st3 {
        font-family: "Source Code Pro", monospace;
        font-weight: 600;
      }
      #cardfront .st4 {
        font-size: 54.7817px;
      }
      #cardfront .st5 {
        font-family: "Source Code Pro", monospace;
        font-weight: 400;
      }
      #cardfront .st6 {
        font-size: 33.1112px;
      }
      #cardfront .st7 {
        opacity: 0.6;
        fill: #ffffff;
      }
      #cardfront .st8 {
        font-size: 24px;
      }
      #cardfront .st9 {
        font-size: 36.5498px;
      }
      #cardfront .st10 {
        font-family: "Source Code Pro", monospace;
        font-weight: 300;
      }
      #cardfront .st11 {
        font-size: 16.1716px;
      }
      #cardfront .st12 {
        fill: #4c4c4c;
      }
      /* BACK OF CARD */
      #cardback .st0 {
        fill: none;
        stroke: #0f0f0f;
        stroke-miterlimit: 10;
      }
      #cardback .st2 {
        fill: #111111;
      }
      #cardback .st3 {
        fill: #f2f2f2;
      }
      #cardback .st4 {
        fill: #d8d2db;
      }
      #cardback .st5 {
        fill: #c4c4c4;
      }
      #cardback .st6 {
        font-family: "Source Code Pro", monospace;
        font-weight: 400;
      }
      #cardback .st7 {
        font-size: 27px;
      }
      #cardback .st8 {
        opacity: 0.6;
      }
      #cardback .st9 {
        fill: #ffffff;
      }
      #cardback .st10 {
        font-size: 24px;
      }
      #cardback .st11 {
        fill: #eaeaea;
      }
      #cardback .st12 {
        font-family: "Rock Salt", cursive;
      }
      #cardback .st13 {
        font-size: 37.769px;
      }
      /* FLIP ANIMATION */
      .container {
        perspective: 1000px;
      }
      .creditcard {
        width: 100%;
        max-width: 400px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: -webkit-transform 0.6s;
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        transition: transform 0.6s, -webkit-transform 0.6s;
        cursor: pointer;
        margin: 0 10px;
      }
      .creditcard .front,
      .creditcard .back {
        position: absolute;
        width: 100%;
        max-width: 400px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        color: #47525d;
        border-radius: 20px;
      }
      .creditcard .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
      .creditcard.flipped {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
    }
  }
}

@media all and (max-width: 1400px) {
  #visual {
    height: 50vh;
    .blurred-image-container {
      height: 50vh;
    }
  }
  .grid-box {
    width: 100%;
    height: 400px;
    > div {
      height: 200px;
      .grid-item {
        width: 100%;
      }
    }
  }
}
@media all and (max-width: 540px) {
  #header {
    .layout-inner {
      padding: 10px 20px;
      height: 60px;
      .logo {
        width: 100px;
        flex-shrink: 0;
      }
    }
    .nav .gnb .menu {
      margin: 0 8px;
      a {
        font-size: 14px;
      }
    }
  }
  .inner {
    padding: 0;
  }
  #visual .visual-list .visual-item h2 {
    bottom: 50px;
    left: 16px;
    font-size: 18px;
  }
  .grid-box {
    display: block;
    height: auto;
  }
  .modal-wrap {
    width: 100%;
    height: 100%;
    .inner {
      height: 100%;
      .modal-box {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: initial;
      }
    }
  }
}
