.entertainment-area .entertainment-wrap {
  position: relative;
  height: 500px;
}

.entertainment-area .entertainment-wrap .more-view {
  position: absolute;
  right: 0;
  top: 0;
}

.entertainment-area .entertainment-wrap .flex-item {
  width: 50%;
}

.entertainment-area .enter-issue {
  -ms-grid-rows: 50%;
      grid-template-rows: 50%;
}

.album-area .album-box {
  width: 100%;
}

.album-area .album-box .album-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.album-area .album-box .album-list .album-item {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transform-origin: center center center;
          transform-origin: center center center;
}

.album-area .album-box .album-list .album-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.album-area .album-box .album-list .album-item:hover, .album-area .album-box .album-list .album-item:focus {
  -webkit-animation: spinning 2s infinite;
          animation: spinning 2s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.artist-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 78vh;
}

.artist-area .artist-slider-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.artist-area .artist-slider-box .artist-slider {
  position: relative;
  width: 400px;
  height: 400px;
}

.artist-area .artist-slider-box .artist-slider .items {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.artist-area .artist-slider-box .artist-slider .items img {
  width: 100%;
  height: 100%;
}

.artist-area .slide-nav {
  height: 100%;
}

.artist-area .slide-nav .inner-slide-nav {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.artist-area .slide-nav .inner-slide-nav .slide-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

.artist-area .slide-nav .inner-slide-nav .slide-nav-list .slide-nav-item {
  height: 16%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: center;
}

.artist-area .slide-nav .inner-slide-nav .slide-nav-list .slide-nav-item a {
  display: block;
  font-size: 16px;
  padding: 12px;
}

.artist-area .slide-before, .artist-area .slide-after {
  padding: 12px;
}

.artist-area .left-artist {
  position: relative;
  width: 50%;
  height: 100%;
  background: lightgrey;
}

.artist-area .right-artist {
  position: relative;
  width: 50%;
  height: 100%;
  background: lightskyblue;
}

.artist-area .right-artist .artist-slider {
  width: 500px;
  height: 650px;
}

.audition-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.audition-area .monthly-calendar {
  padding: 0 6px;
}

.audition-area .monthly-calendar .select-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 54px;
}

.audition-area .monthly-calendar .select-month .month-box {
  font-weight: bold;
  color: #263238;
  font-size: 16px;
  line-height: 24px;
}

.audition-area .monthly-calendar .monthly-calendar-box .row, .audition-area .monthly-calendar .monthly-calendar-box .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #263238;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 44px;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 14px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day.global, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day.global {
  background: #424242;
  color: #ffffff;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day.global:after, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day.global:after {
  background: #424242;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day.seoul, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day.seoul {
  background: #ffd600;
  color: #ffffff;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day.seoul:after, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day.seoul:after {
  background: #ffd600;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day.asia, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day.asia {
  border: 1px solid #ffd600;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day:after, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day:after {
  display: block;
  clear: both;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .holiday, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .holiday {
  color: #bf360c !important;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box {
  margin-bottom: 4px;
}
/*# sourceMappingURL=main.css.map */