.entertainment-area {  
  .entertainment-wrap {
    position: relative;
    .more-view {
      position: absolute;
      right: 0;
      top: 0;
    }
    .flex-item {
      width: 50%;
    }
  }
  .enter-issue {
    grid-template-rows: 50%;
    &:nth-child(1) {

    }
  }
}

//album
.album-area {
  .album-box {
    width: 100%;
    .album-list {
      display: flex;
      align-items: center;
      justify-content: center;
      .album-item {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        transform-origin: center center center;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
        &:hover, &:focus {
          animation: spinning 2s infinite;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

//artist
.artist-area {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 78vh;
  .artist-slider-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .artist-slider {
      position: relative;
      width: 400px;
      height: 400px;
      .items {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }    
  }
  .slide-nav {     
    height: 100%;     
    .slide-nav-list {
      display: flex;
      flex-direction: column;
      align-items: center;      
      margin: 16px 0;      
      .slide-nav-item {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        height: 30%;
        a {
          display: block;
        }        
      }
    }
  }
  .left-artist {    
    position: relative;
    width: 50%;
    height: 100%;
    background: lightgrey;    
  }
  .right-artist {
    position: relative;
    width: 50%;
    height: 100%;
    background: lightskyblue;
    .artist-slider {
      width: 500px;
      height: 650px;
    }
  }  
}

.news {

}

.audition {

}
