.entertainment-area {
  .entertainment-wrap {
    position: relative;
    height: 500px;
    .more-view {
      position: absolute;
      right: 0;
      top: 0;
    }
    .flex-item {
      width: 50%;
    }
  }
  .enter-issue {
    grid-template-rows: 50%;
    &:nth-child(1) {
    }
  }
}

//album
.album-area {
  .album-box {
    width: 100%;
    .album-list {
      @include flexCenter;
      .album-item {
        width: 150px;
        height: 150px;
        @include rounded();
        transform-origin: center center center;
        img {
          width: 150px;
          height: 150px;
          @include rounded();
          @include transition(0.4s);
        }
        &:hover,
        &:focus {
          animation: spinning 3s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

//artist
.artist-area {
  @include flexCenter;
  position: relative;
  width: 100%;
  height: 800px;
  .slide-nav {
    height: 100%;
    .inner-slide-nav {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      .slide-nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 16px 0;
        .slide-nav-item {
          height: 16%;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          transform: rotate(180deg);
          text-align: center;
          a {
            display: block;
            font-size: 16px;
            padding: 12px;
          }
        }
      }
    }
  }

  // swiper custom
  // https://fresh-mint.tistory.com/entry/%ED%94%8C%EB%9F%AC%EA%B7%B8%EC%9D%B8%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C-swiper
  // https://codepen.io/lpla/pen/PoWBKyM
  .slide-before,
  .slide-after {
    padding: 12px;
  }
  .left-artist {
    position: relative;
    width: calc(50% - 24px);
    height: 100%;
    background: lightgrey;
    .left-artist-slider {
      width: 350px;
      height: 350px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .right-artist {
    position: relative;
    width: calc(50% - 24px);
    height: 100%;
    background: lightskyblue;
    flex-shrink: 0;
    .right-artist-slider {
      width: 400px;
      height: 600px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.left-artist,
.right-artist {
  display: flex;
  align-items: center;
  justify-content: center;
  .left-artist-slider,
  .right-artist-slider {
    .swiper-slide {
      img {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.news {
}


// audition
.audition-area {
  .monthly-calendar {
    width: 100%;
    padding: 0 6px;
    .select-month {
      @include flexCenter;
      height: 54px;
      .month-box {
        font-weight: bold;
        color: #263238;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .monthly-calendar-box {
      width: 600px;
      margin: auto;
      .swiper-slide {
        flex-direction: column;
        padding-bottom: 20px;
      }
      .row {
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #263238;
        .day-box {
          .day {
            @include flexCenter;
            position: relative;
            font-size: 14px;
            width: 34px;
            height: 34px;
            @include rounded();
            &.today {
              font-size: 20px;
              font-weight: bold;
            }
            &.global {
              background: #424242;
              color: #ffd600;
              &:after {
                background: #424242;
              }
            }
            &.seoul {
              background: #ffd600;
              color: #424242;
              color: #ffffff;
              &:after {
                background: #ffd600;
              }
            }
            &.asia {
              border: 1px solid #ffd600;
            }
            &:after {
              display: block;
              clear: both;
              content: "";
              position: absolute;
              left: 50%;
              top: 0;
              width: 6px;
              height: 6px;
              @include rounded();
              transform: translateX(-50%);
            }
          }
          &.holiday {
            color: #bf360c !important;
          }
        }
      }
      .day-box {
        @include flexCenter;
        flex: 1;
        font-size: 14px;
        height: 44px;
      }
      .row {
        .day-box {
          margin-bottom: 4px;
        }
      }
    }
  }
  .schedule-information {
    .audition-schedule {
      @include flexCenter;
      li {
        @include rounded(8px);
        .card,
        .wrap {
          position: relative;
          width: 300px;
          height: 150px;
          @include rounded(8px);
          perspective: 350px;
        }
        .wrap {
          @include transition(1.5s);
          transform-style: preserve-3d;
        }
        .card {
          &:hover {
            .wrap {
              transform: rotateX(180deg);
            }
          }
        }
        .back,
        .front {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          transform-origin: 50% 0;
          text-align: center;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          -webkit-backface-visibility: hidden; //브라우저 호환성
          backface-visibility: hidden;
        }
        .front {
          z-index: 1;
          background: #ccc;
        }
        .back {
          @include flexCenter;
          flex-direction: column;
          transform: rotateX(180deg) translate(-50%, -50%);
          background: #888;
          color: #ffffff;
          .audition-type {
            @include rounded(8px);
            border: 1px solid #ffffff;
            font-size: 14px;
            padding: 4px 6px;
          }
          .audition-name {
            font-size: 16px;
            padding: 8px 0;
          }
          .audition-place,
          audition-day {
            font-size: 14px;
          }
        }
      }
    }
  }
}
