@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin pseudoElement {
    display: block;
    clear: both;
    content: '';
}

@mixin rounded ($radius: 50%) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition($time) {
    @each $prefix in -moz-, -o-, -webkit-, '' {
        #{$prefix}transition: $time;
    }
}

@mixin inputBox {
    border: 1px solid #2792e2;
    padding: 4px 6px;
    height: 32px;
    border-radius: 4px;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
