@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin rounded ($radius: 50%) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition($time) {
    @each $prefix in -moz-, -o-, -webkit-, '' {
        #{$prefix}transition: $time;
    }
}