/*  Configuration */
/* Vendors */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Base */
/*-=-=-=-=-=-=-=-=-=-*/
/* GENERAL STYLES */
/*-=-=-=-=-=-=-=-=-= */
body {
  overflow: scroll;
  font-family: "Open Sans", Arial, Helvetica;
}

.clear {
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#container {
  width: 860px;
  margin: 0 auto;
}

section {
  position: relative;
  height: 200px;
  margin: 60px 0;
}

.section--white {
  background-color: #FFFFFF;
}

.section--red {
  background-color: #E74C3C;
}

.section--purple {
  background-color: #D6A8E9;
}

.section--blue {
  background-color: #33CCF7;
}

.section--yellow {
  background-color: #F4E9B4;
}

.section--green {
  background-color: #80D99D;
}

.section--cyan {
  background-color: #80D99D;
}

.section--pale {
  background-color: #F4E9B4;
}

.col_third section {
  margin: 0;
}

.icn_red {
  color: #FF3D6A;
}

.icn_purple {
  color: #9B59B6;
}

.icn_blue {
  color: #3498DB;
}

.icn_yellow {
  color: #F1C40F;
}

.icn_green {
  color: #80D99D;
}

/*-=-=-=-=-=-=-=-=-=-*/
/* Wow Image */
/*-=-=-=-=-=-=-=-=-= */
.service-section {
  margin: 20px 0;
  position: relative;
  overflow: hidden;
}

.wow_imgage {
  position: relative;
  float: left;
  margin: 0 20px 20px 0;
  width: 270px;
  height: 180px;
}

.wow_imgage img {
  border: 4px solid #e4e4e1;
}

/*-=-=-=-=-=-=-=-=-=-*/
/* Column Grids */
/*-=-=-=-=-=-=-=-=-= */
.col_half {
  width: 49%;
}

.col_third {
  width: 32%;
}

.col_fourth {
  width: 23.5%;
}

.col_fifth {
  width: 18.4%;
}

.col_sixth {
  width: 15%;
}

.col_three_fourth {
  width: 74.5%;
}

.col_twothird {
  width: 66%;
}

.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth {
  position: relative;
  display: inline;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}

.end {
  margin-right: 0 !important;
}

/*-=-=-=-=-=-=-=-=-=-*/
/* Links */
/*-=-=-=-=-=-=-=-=-= */
a {
  text-decoration: none;
  color: #666666;
}

a:hover, a:active {
  outline: 0;
  color: #666666;
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Layout */
/*header*/
#header {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 80px;
  padding: 0 50px;
  z-index: 200;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.nav .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .gnb .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 16px;
}

.nav .gnb .menu a {
  display: block;
  font-size: 20px;
}

.nav .gnb .menu:hover a {
  font-weight: bold;
}

/*visual*/
#visual {
  position: relative;
  width: 100%;
  height: 700px;
}

.visual-list {
  position: relative;
  width: 100%;
  height: 100%;
}

.visual-list li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.blurred-image-container {
  display: block;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 700px;
  z-index: -1;
}

.blurred-image-container .img {
  position: absolute;
  background: url(http://bromleydemo.files.wordpress.com/2013/10/blossom.jpg?w=600) center center;
  background-size: cover;
  top: -10%;
  bottom: 10%;
  left: -10%;
  right: 10%;
  width: 120%;
  height: 120%;
}

.blurred {
  opacity: 0;
  -webkit-filter: blur(20px) brightness(0.7);
  -ms-filter: blur(20px) brightness(0.7);
  -o-filter: blur(20px) brightness(0.7);
  filter: blur(20px) brightness(0.7);
}

#visual .paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#visual .paging a {
  display: block;
  width: 10px;
  height: 10px;
  background: #1a1a1a;
  borde-radius: 50%;
}

main {
  background: #ffffff;
}

/*body*/
.common-area {
  position: relative;
  width: 100%;
  height: 100%;
}

.inner {
  padding: 80px 50px;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-box .flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
}

.grid-box {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

/*footer*/
/*swiper*/
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Page */
.entertainment-area .entertainment-wrap {
  position: relative;
  height: 500px;
}

.entertainment-area .entertainment-wrap .more-view {
  position: absolute;
  right: 0;
  top: 0;
}

.entertainment-area .entertainment-wrap .flex-item {
  width: 50%;
}

.entertainment-area .enter-issue {
  -ms-grid-rows: 50%;
      grid-template-rows: 50%;
}

.album-area .album-box {
  width: 100%;
}

.album-area .album-box .album-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.album-area .album-box .album-list .album-item {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-transform-origin: center center center;
          transform-origin: center center center;
}

.album-area .album-box .album-list .album-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.album-area .album-box .album-list .album-item:hover, .album-area .album-box .album-list .album-item:focus {
  -webkit-animation: spinning 3s;
          animation: spinning 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.artist-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 78vh;
}

.artist-area .artist-slider-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.artist-area .artist-slider-box .artist-slider {
  position: relative;
  width: 400px;
  height: 400px;
}

.artist-area .artist-slider-box .artist-slider .items {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.artist-area .artist-slider-box .artist-slider .items img {
  width: 100%;
  height: 100%;
}

.artist-area .slide-nav {
  height: 100%;
}

.artist-area .slide-nav .inner-slide-nav {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.artist-area .slide-nav .inner-slide-nav .slide-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

.artist-area .slide-nav .inner-slide-nav .slide-nav-list .slide-nav-item {
  height: 16%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: center;
}

.artist-area .slide-nav .inner-slide-nav .slide-nav-list .slide-nav-item a {
  display: block;
  font-size: 16px;
  padding: 12px;
}

.artist-area .slide-before, .artist-area .slide-after {
  padding: 12px;
}

.artist-area .left-artist {
  position: relative;
  width: 50%;
  height: 100%;
  background: lightgrey;
}

.artist-area .right-artist {
  position: relative;
  width: 50%;
  height: 100%;
  background: lightskyblue;
}

.artist-area .right-artist .artist-slider {
  width: 500px;
  height: 650px;
}

.audition-area .monthly-calendar {
  width: 100%;
  padding: 0 6px;
}

.audition-area .monthly-calendar .select-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 54px;
}

.audition-area .monthly-calendar .select-month .month-box {
  font-weight: bold;
  color: #263238;
  font-size: 16px;
  line-height: 24px;
}

.audition-area .monthly-calendar .monthly-calendar-box .row, .audition-area .monthly-calendar .monthly-calendar-box .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #263238;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 44px;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 14px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day.global, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day.global {
  background: #424242;
  color: #ffffff;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day.global:after, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day.global:after {
  background: #424242;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day.seoul, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day.seoul {
  background: #ffd600;
  color: #ffffff;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day.seoul:after, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day.seoul:after {
  background: #ffd600;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day.asia, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day.asia {
  border: 1px solid #ffd600;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .day:after, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .day:after {
  display: block;
  clear: both;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box .holiday, .audition-area .monthly-calendar .monthly-calendar-box .head .day-box .holiday {
  color: #bf360c !important;
}

.audition-area .monthly-calendar .monthly-calendar-box .row .day-box {
  margin-bottom: 4px;
}

.audition-area .schedule-information .audition-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.audition-area .schedule-information .audition-schedule li {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.audition-area .schedule-information .audition-schedule li .card, .audition-area .schedule-information .audition-schedule li .wrap {
  position: relative;
  width: 300px;
  height: 150px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-perspective: 350px;
          perspective: 350px;
}

.audition-area .schedule-information .audition-schedule li .wrap {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.audition-area .schedule-information .audition-schedule li .card:hover .wrap {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.audition-area .schedule-information .audition-schedule li .back, .audition-area .schedule-information .audition-schedule li .front {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.audition-area .schedule-information .audition-schedule li .front {
  z-index: 1;
  background: #ccc;
}

.audition-area .schedule-information .audition-schedule li .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateX(180deg) translate(-50%, -50%);
          transform: rotateX(180deg) translate(-50%, -50%);
  background: #888;
  color: #ffffff;
}

.audition-area .schedule-information .audition-schedule li .back .audition-type {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #ffffff;
  font-size: 14px;
  padding: 4px 6px;
}

.audition-area .schedule-information .audition-schedule li .back .audition-name {
  font-size: 16px;
  padding: 8px 0;
}

.audition-area .schedule-information .audition-schedule li .back .audition-place, .audition-area .schedule-information .audition-schedule li .back audition-day {
  font-size: 14px;
}

.apply-form .title h2 {
  font-size: 16px;
}

.apply-form .title span {
  color: #d32f2f;
}

#img-preview {
  display: none;
  width: 155px;
  border: 2px dashed #333;
  margin-bottom: 20px;
}

#img-preview img {
  width: 100%;
  height: auto;
  display: block;
}

[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

[type="file"] + label {
  font-family: sans-serif;
  background: #f44336;
  padding: 10px 30px;
  border: 2px solid #f44336;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

[type="file"] + label:hover {
  background-color: #fff;
  color: #f44336;
}

/* -------------------------------------*/
body {
  padding: 15px;
}

p {
  position: fixed;
  bottom: 0;
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
}

p a {
  color: #000;
}
/*# sourceMappingURL=sourcemap.css.map */